doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='/images/favicon.ico')
        title= header
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/index.css', rel='stylesheet')
        h1= status
script(src='/javascripts/jssip.js')
script(src='/javascripts/call.js')
